
/*---------------------Header Menu----------------------*/
#menu li a {
	font-family:'Georgia', serif;
}
/*---------------------Home----------------------*/
#description{
	font-family:'Georgia', serif;
}
#description h1{
	font-family:'Georgia', serif;
}
/*---------------------About----------------------*/
#about h1, #gallery h1, #contact h1 {
	font-family:'Georgia', serif;
}
#about p{
	font-family:'Georgia', serif;
}
/*---------------------Gallery----------------------*/
#gallery p{
	font-family:'Georgia', serif;
}
/*--------------------Contact----------------------*/
#contact{
	font-family:'Georgia', serif;
}
/*--------------------Footer----------------------*/
#footer{
	font-family:'Georgia', serif;
}
