ul{
  text-decoration: none;
  color:red;
}
ul{
  text-decoration: none;
  color:red;
}
ul{
  text-decoration: none;
  color:red;
}
ul{text-decoration:none;color:red}
ul{
  text-decoration: none;
  color:blue;
}
ul{text-decoration:none;color:red}
ul{
  text-decoration: none;
  color:blue;
}
ul{text-decoration:none;color:red}
ul{
  text-decoration: none;
  color:blue;
}
ul{text-decoration:none;color:red}
ul{
  text-decoration: none;
  color:blue;
}
ul{text-decoration:none;color:red}
ul{
  text-decoration: none;
  color:blue;
}
ul{text-decoration:none;color:red}