*::-moz-selection{
	color:white;
	background:#09AF84;
}
body{
	/*background-color: #edf2e1;*/
	/*background-color:#fff;
	background-image: url("http://www.transparenttextures.com/patterns/black-linen.png");
*/
background-color: #fffcfc;
/*background-image: url("../img/whitey.png");*/
margin:0;
padding:0;
}
.row{
	margin:0;
	padding:0;
}
.container-fluid{
	margin:0;
	padding:0;
}
/*---------------------Header Menu----------------------*/
#nav1{
/*	position:fixed;
	width:100%;*/
	/*background-color: #fff;*/
	/*background-image: url("../img/45-degree-fabric-dark.png");*/
	/*margin-bottom:3em;*/
	margin-bottom: 0;
	border-bottom:1px solid #ddd;
	border-radius: 0;	
	height:55px;
}
.navbar-default{
	background:white;
	box-shadow: none;
}
#menu{
	width:auto;
}
#menu li{
	height:auto;
	/*border-right:1px solid #555;*/
}
#menu > .active > a{
		background:#09AF84;
	/*background: rgba(44,44,44,0.7);*/
	/*box-shadow: 0px 3px 0px #A84A00;*/
	/*color:#A84A00;*/
	/*text-shadow:1px 0px 0px #666;*/
}
#menu .active span{
	/*color:#A84A00;*/
	color:#fff;
}
#menu li a {
	/*background:none;*/
	font-family: 'Lusitana', Verdana, sans-serif;
	font-size: 1.4em;
	color:#888;
	letter-spacing: 2px;
	transition:1s all;

}
#menu li:hover a{
	/*color:#B2A009;*/
	color:#444;
	/*background:#0AC997;*/
}
#menu li span{
	padding-right:0.75em;
}
.glyphicon{
	color:#ddd;
	font-size:1.1em;
	text-align:center;
	margin:0;

}

#lang{
	margin-right:20px;
}
#lang li{
	max-width:50px;
}
/*---------------------Home----------------------*/
.jumbotron{
	padding:4% 0;
	min-height:350px;
	/*background-color: #b0a9a2;*/
	/*background-color: #aaa;*/
	background-image: url("../img/whitey.png");
	background-image: url("http://www.transparenttextures.com/patterns/batthern.png");
	border-bottom:1px solid rgba(0,0,0,0.1);
		/*background:rgba(50,50,50,0.25);*/
}
.jumbotron h1{
	text-align: center;
	font-family:Yeseva One, Trebuchet, serif;
	font-size: 6em;
	color:#145;
	text-shadow:0px 1px 0px #888;	
	padding-top:0.1em;
	padding-bottom:0.3em;
	border-bottom: 1px solid #444;
	color:#444;
}
.jumbotron h2{
	text-align: center;
	font-family:'Nixie One', Times, monospace;
	font-size: 5em;
	color:#333;
	text-shadow:0px 1px 0px #888;	
}
#home{
	min-height:900px;
}
#description{
	font-family:Lusitana, Verdana, sans-serif;
	padding:0 5em;
	/*margin-bottom:15em;*/
	padding-top:3em;	
	text-align: justify;
	margin-bottom: 5em;
}
#description h1{
	font-family:'Lusitana', Verdana, sans-serif;
	font-size:2.6em;
	margin-bottom:0.5em;
	color:#09AF84;
	
}
#description p{
	color:#666;
	font-size: 1.35em;
	letter-spacing:0;
	line-height:1.5em;
}
/*---------------------About----------------------*/
#about{
	margin:0;
	padding:0;
	min-height:900px;
	/*color:orangered;*/
	/*background-color: #fffcfc;*/
	padding:0 6%;
	width:100%;

	background: #09AF84;
	color:#fff;
}
#about h1, #gallery h1, #contact h1 {
	font-family:'Lusitana', Verdana, sans-serif;
	font-size:7em;
	padding-top:100px;
	margin-bottom: 0.7em;
	margin-top:0;
	/*text-shadow:2px 0px 0px #E8670C;*/
	letter-spacing:7px;
	/*margin-left:60px;*/

}
#about p{
	font-family:'Nixie One', Verdana, sans-serif;
	font-size:48px;
	margin-bottom:50px;
	/*margin-left:60px;*/

}
/*---------------------Gallery----------------------*/
#gallery{
	/*margin:0;*/
	/*background-color: #fffcfc;*/
	display:block;
	background-image: url("../img/axiom-pattern.png");
	background-color: #ffffff;
background-image: url("http://www.transparenttextures.com/patterns/lined-paper-2.png");

	min-height:900px;
	padding:0 6%;
}
#gallery h1{
	color:#09AF84;
	/*text-shadow:1px 0px 0px #089571;*/
}
#gallery+div{
	/*margin-bottom: 80px;*/
}

#gallery img{
	/*width:400px;*/
	/*border:1px solid #aaa;*/
	margin-bottom:20px;
	border:1px solid #aaa;
	box-shadow:0px 0px 1px #09af84;
}
#gallery p{
	text-align: center;
	font-family:'Lusitana', Verdana, sans-serif;
	font-size:20px;
	color:#666;
}
#gallery #soon{
	font-size: 60px
}
/*#gallery > p:last-child{
	font-size:50px;
	margin-top:150px;
}
#gallery .no-img-yet{
	
}
#gallery .no-img-yet img{
	width:100%;
	height:180px;
	background-color:rgba(111,111,111,0.2);
}*/
/*--------------------Contact----------------------*/

#contact{
	min-height:850px;
	/*background-color:rgba(0,0,0,0.1);*/
	padding:0 6%;
	font-family:'Lusitana', Verdana, sans-serif;
	border-top: 1px solid #ccc;
}
#contact h1{
	color:#09AF84;
	/*text-shadow:0px 0px 0px #066F54;*/
	margin-bottom:100px;
}
#contact h2{
	word-spacing: 20px;
	color:#09AF84;
	font-size:60px;
}
#contact span{
	color:#333;
}
#contact a{
	text-decoration: none;
	color:#333;
}
#contact a:hover{
	color:#09af84;
}
/*--------------------Footer----------------------*/
#footer{
	background:#333;
	min-height:50px;
	font-family:'Nixie One', Verdana, sans-serif;
}
#footer p{
	float:right;
	padding-right:70px;
	margin:30px auto;
	font-size:20px;
	color:#09AF84;
	text-shadow:1px 0px 0px;
}
#footer a{
	color:#09AF84;
	font-style: underline;
}
@media screen and (max-width: 1200px) {
    #description{
    	text-align: left;
    }	
}
@media screen and (max-width: 768px) {
    .jumbotron h1 {
			/*font-size:4.4em;*/
			padding-top:0.6em;
			border:none;
			font-size:6em;
    }
    .jumbotron h2 {
			display:none;
    }
    .jumbotron {
    	min-height:100px;
    }
    #menu li{
			position:relative;
			float:left;
			text-align: center;
			width:25%;
    }
  	#menu > .active > a{
    	background:none;
    	box-shadow:none;
    }
    #menu .active span{
    	color:#09AF84;
    }

    #about p{
    	font-size:30px;
    }
    #description p{
			font-size:25px;
		}
    #description h1,p, #about h1, #gallery h1, #contact h1{
    	text-align: center;
    }
    #about h1, #gallery h1, #contact h1{
    	font-size:80px;
    }
    #description h1{
    	font-size:60px;
    }
		#contact h2{
			font-size:45px;
		}

}

@media screen and (max-width: 425px) {
    .jumbotron h1 {
			font-size:3em;
			padding-top:0.6em;
			border:none;
    }
    .jumbotron h2 {
			font-size:2em;
			display:none;
    }
    .jumbotron {
    	min-height:100px;
    }
    #description h1{
			font-size:30px;
    }
}
